@model Makale_Entities.Not

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Makale Sil</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Bu makaleyi silmek istediğinizden emin misiniz?</h3>

        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Kategori.Baslik)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kategori.Baslik)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Baslik)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Baslik)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Text)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Taslak)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Taslak)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BegeniSayisi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BegeniSayisi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KayitTarih)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KayitTarih)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DegistirmeTarihi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DegistirmeTarihi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DegistirenKullanici)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DegistirenKullanici)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @BootstrapHelper.Button("submit", "Sil", "danger", "", "trash")
            @BootstrapHelper.Linkbuton("/Not/Index", "warning", string.Empty, "", "Listeye Dön")
        </div>
            }
        </div>

    </div>
</div>

