@model Kullanici
@{
    ViewBag.Title = "ProfilDegistir";
}

<h2>ProfilDegistir</h2>

<div class="container">
    <div class="row">
        <h2>Profiliniz</h2>
        <hr />
    </div>
    <div class="row">
        @using (Html.BeginForm("ProfilDegistir","Home",FormMethod.Post,new {enctype= "multipart/form-data" }))
        {
            <div class="col-md-3">
                <img src="~/image/@Model.ProfilResim" class="img-circle" width="100" height="100" />
                @Html.HiddenFor(model=>model.ProfilResim)
                <br />
                <input type="file" name="profilresmi" id="profilresmi" class="form-control" />
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <div class="col-md-12 ">
                        @Html.ValidationSummary(false)
                    </div>
                    <div class="col-md-12 ">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
           
                @Html.HiddenFor(model=>model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Ad, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ad, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Soyad, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Soyad, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KullaniciAdi, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KullaniciAdi, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sifre, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sifre, new { @class = "form-control" ,type="password" })
                    </div>
                </div>

                <div class="form-group">
                  <input type="submit" value="Kaydet" class="btn btn-success"/>
                    @Html.ActionLink("İptal","ProfilGoster","Home",new {@class="btn btn-default"})
                    </div>
            

            </div>
        }


    </div>
</div>